**

!go.mod
!go.sum
!main.go

!src
!src/**

!frontend
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/vite.config.js
!frontend/src
!frontend/src/**

frontend/node_modules
frontend/node_modules/**
frontend/dist
frontend/dist/**
frontend/.vite
frontend/.vite/**
web
web/**
data
data/**
.env
